{% extends 'base.html' %}
{% load static %}

{% block title %} {{ user.username }} Profile {% endblock %}

{% block js_files %}
<script src="{% static 'js/script.js' %}" ></script> 
{% endblock %}


{% block content %}
    <h4> {{ user.username }} </h4> 
    {{ user.profile.bio }}
    <br /><br />
    
    <!-- don't show for my panel -->
    {% if request.user.id != user.id and not is_following %}
        <button id='following-btn' data-id ='{{ user.id }}' class='btn btn-primary'>follow</button>
    {% elif request.user.id != user.id and is_following %}
        <button id='following-btn' data-id ='{{ user.id }}' class='btn btn-warning'>unfollow</button>
    {% endif %}

    <br /><hr /><br />
    {% for post in posts %}
        <div class="card" >
            <p class="card-header" ><a href="{% url 'usermanage:dashboard' post.user.id %}">{{ post.user }}</a></p>
            <p class="card-body" ><a href='{{ post.get_absolute_url }}' >{{ post.body }}</a></p>
        </div>
    {% empty %}
        <p> this user has no posts </p>
    {% endfor %}

{% endblock %}