{% extends 'base.html' %}

{% block title %}
    details
{% endblock %}

{% block content %}
    {% if post.user.id == request.user.id %}
        <a href="{% url 'posts:edit_post' post.id %}">Edit Post</a> | 
        <a href="{% url 'posts:delete_post' post.id %}">Delete Post</a><br />
    {% endif %}
    <p>{{ post.user }} |  {{ post.created|date }}</p>
    <p>{{ post.body }}</p>
    <hr />


    <p class='card-header' >number of comments : {{ comments.count }}</p>
    <br />


    {% if request.user.is_authenticated %}
        <form action='' method='POST' novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Send comment' class='btn btn-primary' >
        </form>
    {% else %}
        <p>only logged user can send comment</p>
    {% endif %}
    <br />


    {% for comment in comments %}
        <div class='card bg-dark text-white' >
            <p class='card-header' >{{ comment.user }}</p>
            <p class='card-body' >{{ comment.body }}</p>
        </div>
        <br />
    {% empty %}
        <p class='card-header' > no comments </p>
    {% endfor %}


{% endblock %}